{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["**/*.js", "**/coverage/**/*"],
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
