.idea
.vscode
*/**/.idea
*/**/.vscode
frontend/node_modules
backend/target
backend/**/target
frontend/dist
frontend/build
.history
.ignore
.logs
*.log
.iml
*/**/.idea_modules
backend/.classpath
.project
.settings
.DS_Store
test-output/
*.class
.metals
*/**/.metals
out
.backend/.bsp