.formHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32rem;
  text-align: center;
  margin-top: 0.5rem;
}

.formFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30rem;
}

.formBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
